div{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
.relative{
    position: relative;
    left: 80px;
    margin-left: 10px;
}
/* posicionamiento fijo - se posiciona a la pantalla */
.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #ccc;
    z-index: 10;
}
/* posicionamiento absoluto - se posiciona a su contenedor */   
.absolute{
    position: absolute;
    top: 0px;
}
.relative.contenedor{
    width: 300px;
    height: 500px;
    background-color: aquamarine;
}
.sticky{
    position: sticky;
    background-color: darkorchid;
    top: 0px;
    z-index: 2;
}